RewriteEngine On

# Handle search request
RewriteCond %{QUERY_STRING} ^s=(.+)$ [NC]
RewriteRule ^movies$ ?action=search&search_text=$1 [L,QSA]

# Handle the case where 's' parameter is empty
RewriteCond %{QUERY_STRING} ^s=$ [NC]
RewriteRule ^movies$ ?action=search&search_text= [L,QSA]

# Handle get movie by id
RewriteRule ^movies\/(\d+)$ ?action=get&id=$1 [NC,L]

# Handle getting all movies
RewriteRule ^movies$ ?action=list [NC,L]

# Handle posting new movie
# RewriteRule ^movies$ ?action=add [NC,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]