RewriteEngine On

RewriteCond %{QUERY_STRING} ^s=(.+)$ [NC]
RewriteRule ^movies$ ?action=search&search_text=$1 [L,QSA]

# Handle the case where 's' parameter is empty
RewriteCond %{QUERY_STRING} ^s=$ [NC]
RewriteRule ^movies$ ?action=search&search_text= [L,QSA]

#RewriteRule ^movies\s=(.+)$ ?action=search&search_text=$1 [NC,L]


# RewriteRule ^movies$ ?action=list [NC,L]

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteRule ^ index.php [QSA,L]